<form action="/login" method="post" id="formularioLogin">
    <div class="inputsAndButtonLogin">
        <h1>Iniciando sesión</h1>
        <label for="email">Email: <input type="text" name="email" id="email"></label>
        <label for="password">Contraseña: <input type="text" id="password" name="password"></label>
        <div class="buttonBox">
            <button type="submit">Iniciar sesión</button>
        </div>
        <div class="buttonBox">
            <a class="registerViewA" href="/register">Crear nuevo usuario</a>
        </div>
    </div>
</form>