<form method="post" action="/register" class="formularioRegister">
    <div class="containerRegister">
        <h1>Registrarse</h1>
        <label for="creatingName">Nombre: <input type="text" name="creatingName" id="creatingName"></label>
        <label for="creatingSurname">Apellido: <input type="text" name="creatingSurname" id="creatingSurname"></label>
        <label for="creatingEmail">Email: <input type="text" id="creatingEmail" name="creatingEmail"></label>
        <label for="creatingAge">Edad: <input type="text" id="creatingAge" name="creatingAge"></label>
        <label for="creatingPassword">Contraseña: <input type="text" id="creatingPassword" name="creatingPassword"></label>
        <div class="buttonBox">
            <button type="submit">Registrar usuario</button>
        </div>
        <div class="buttonBox">
            <a class="registerViewA" href="/login">Volver a login</a>
        </div>
    </div>
</form>